# /CLAUDE.md
# *.claude.md
asgml.egg-info/
data/
**/__pycache__/
*.py[cod]
outputs/
.vscode/
main.aux
main.fdb_latexmk
main.fls
main.log
main.out
main.pdf
main.synctex.gz
main.synctex.gz
main.bbl
main.blg

